* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

body .wrapper .header {
  margin-top: 30px;
}

body .wrapper .header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

body .wrapper .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .main .choose-character {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper .main .choose-character > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .main .choose-character > div .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .main .choose-character > div .input select {
  background-color: black;
  color: white;
  margin-top: 10px;
  padding: 5px 10px;
}

body .wrapper .main .choose-character > div .image {
  margin-top: 20px;
  height: 260px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body .wrapper .main .choose-character > div .image img {
  max-width: 100%;
}

body .wrapper .main .compare-character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .wrapper .main .compare-character .characters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper .main .compare-character .characters-container .character-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .main .compare-character .characters-container .character-card .image {
  margin-top: 20px;
  height: 260px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body .wrapper .main .compare-character .characters-container .character-card .image img {
  max-width: 100%;
}

body .wrapper .main .compare-character .characters-container .character-card p {
  margin: 10px 0px;
  width: 260px;
  text-align: center;
}

body .wrapper .main .compare-character .characters-container .character-card .compare-buttons {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .wrapper .main .compare-character .characters-container .character-card .compare-buttons .compare-btn {
  border: 3px solid black;
  background-color: white;
  cursor: pointer;
  height: 30px;
  width: 80px;
  margin: 10px;
  font-size: 12px;
}

body .wrapper .main #go-btn {
  margin-top: 30px;
  padding: 15px 60px;
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

body .wrapper .main .back-btn {
  padding: 5px 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  left: 20px;
}

.hide {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */